COMPOSE_PROJECT_NAME=igrovoy_labirint
MYSQL_DATABASE=igrovoy_labirint
MYSQL_USER=igrovoy_user
MYSQL_PASSWORD=change_me_strong_password
MYSQL_ROOT_PASSWORD=change_me_strong_root_password
CERTBOT_EMAIL=admin@igrovoy-labirint.ru
DOMAIN=igrovoy-labirint.ru
